{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-decorators-legacy", "babel-relay-plugin-loader"],
  "env": {
    "development": {
    "plugins": ["transform-decorators-legacy", "babel-relay-plugin-loader", [
      "react-transform",
        {
          "transforms": [{
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }
      ]]
    },
    "production": {
    "plugins": ["transform-decorators-legacy", "babel-relay-plugin-loader"]
    }
  }
}
