doctype html
html

  head
    title Hello, React

  body

    #app

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")
    script.
      ReactDOM.render(RouterApp(!{props}), document.getElementById('app'));
