doctype html
html

  head
    title Hello, React

  body

    #app

    script(src="vendor-bundle.js")
    script(src="app-bundle.js")

    // When this is implemented: https://github.com/shakacode/react_on_rails/issues/504
    // Then you can do this, to match up with what's in the Rails view:
    // script.
    //  ReactOnRails.reduxStore('routerCommentsStore', !{props});
    // script.
    //  ReactOnRails.render('RouterApp', !{}, 'app');
    //
    // Instead, we'll pass the props and add RouterAppExpress as an entry point to the
    // webpack.client.express.config.js

    script.
      ReactOnRails.render('RouterAppExpress', !{props}, 'app');
