// $animation-duration is set in client/app/assets/styles/app-variables.scss

.elementEnter {
  opacity: 0.01;

  &.elementEnterActive {
    opacity: 1;
    transition: opacity $animation-duration ease-in;
  }
}

.elementLeave {
  opacity: 1;

  &.elementLeaveActive {
    opacity: 0.01;
    transition: opacity $animation-duration ease-in;
  }
}
