// This file is used as part of the bootstrap-sass-loader customization
// Compare this to main.scss (no underscore) which is loaded by itself
// ## Baseline

// Included from bootstrap.config.less.
body {
  padding-top: 20px;
}

#main-entry-point {
  color: pink;
}

.doc-content {
  padding-top: 10px;
}

// ## Nav
// When nav is affixed, set it's position and size.
#nav.affix {
  position: fixed;
  top: 3px;
  width: 80%;
  z-index: 10;
}

// ## Code
// Set up table to render two column view
// of documentation on left and code, syntax
// highlighted on the right.
table.file-table {
  width: 100%;
  border-radius: $border-radius-base;
  border: 0px;
  border-spacing: 0px;
  display: table;
  table-layout: fixed;

  td.file-docs {
    background-color: #fff;
    width: 30%;
    max-width: 30%;
    text-overflow: ellipsis;
    padding: 5px;
    vertical-align: top;
  }

  td.file-code {
    border-left: 1px groove darken(#f5f5f5, 20%);
    background-color: #f5f5f5;
    color: #333;
    width: 70%;
    max-width: 70%;
    text-overflow: ellipsis;
    padding-left: 5px;
    vertical-align: bottom;
  }
  // Remove extra separation between the code
  // so it looks more like one continuous block.
  pre.prettyprint {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 0 !important;
  }
}

