
@import 'bootstrap-pre-customizations';
@import 'bootstrap/scss/bootstrap';

.container a {
  color: #337AB7;
  text-decoration: none;
}

.commentBox .active {
  background-color: #0D6EFD;
  border-color: #0D6EFD;
  border-radius: 0.25rem;
  color: #FFFFFF;
}

