.refresh-btn {
  cursor: pointer;
}

.comment_list {
  display: block;

  h2 {
    color: blue;
  }

  span {
    color: purple;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #333333;
    }
  }
}

// helper classes

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

// scss-lint:disable ImportantRule
.w-50 {
  width: 27vw !important;
}
