<%= turbo_frame_tag "comment_list", data: { turbo: true } do %>
  <a href="<%= comment_list_path %>" data-comments-target="commentRefresh" style="display:none">
    Hidden Refresh Button</a>
  <div data-comments-target="commentList">
    <% @comments.each do |comment| %>
      <div>
        <h2><%= comment.author %></h2>
        <span><%= markdown(comment.text) %></span>
      </div>
    <% end %>
  </div>
<% end %>
