<div class="bg-pink-100 p-4 mb-4 border border-pink-200 rounded text-red-800 prose-strong:text-red-800 prose-ul:my-1 hidden" data-comments-target="alertDiv">
  <strong>Your comment was not saved!</strong>
  <ul data-comments-target="errorList">
  </ul>
</div>
