<div id="commentz">
  <ul class="nav nav-pills">
    <li class="nav-item" role="presentation">
      <%= link_to "Horizontal Form", horizontal_form_path, :class => "bg-primary" %>
      <!-- <a class="nav-link active" role="button" aria-current="page" href="#">Horizontal Form</a> -->
    </li>
    <li class="nav-item" role="presentation">
      <%= link_to "Stacked Form", stacked_form_path %>
      <!-- <a class="nav-link" role="button" href="#">Stacked Form</a> -->
    </li>
    <li class="nav-item" role="presentation">
      <%= link_to "Inline Form", inline_form_path %>
      <!-- <a class="nav-link" role="button" href="#">Inline Form</a> -->
    </li>
  </ul>
</div>
