// This way we turn CSS Modules off and apply these css rules globaly
:global {

  body {
    padding-top: 20px;
  }

  .active:visited,
  .active {
    color: purple;
    font-weight: bold;
    text-decoration: underline;
  }

  // scss-lint:disable IdSelector
  #nav.affix {
    position: fixed;
    top: 3px;
    width: 80%;
    z-index: 10;
  }

}
