Acquire::http { Proxy "http://192.168.59.103:8000"; };

Acquire::http::Proxy::oss-binaries.phusionpassenger.com DIRECT;
Acquire::http::Proxy::ppa.launchpad.net DIRECT;
Acquire::http::Proxy::ftp.osuosl.org DIRECT;
Acquire::http::Proxy::ppa:nginx/stable DIRECT;
Acquire::http::Proxy::ppa:brightbox/ruby-ng DIRECT;
Acquire::http::Proxy::ppa:ansible/ansible DIRECT;
