<h2>Using React (Server rendering) + Redux + React Router + Rails Backend (using the
  <a href="https://github.com/shakacode/react_on_rails">react_on_rails gem</a>)</h2>
<%= render "header" %>

<%= react_component('RouterApp', render(template: "/comments/index.json.jbuilder"),
    generator_function: true, prerender: true, raise_on_prerender_error: true) %>
