<h2>Using React (Server rendering) + Redux + Rails Backend (using the
  <a href="https://github.com/shakacode/react_on_rails">react_on_rails gem</a>)</h2>
<%= render "header" %>

<%= react_component('App', props: render(template: "/comments/index.json.jbuilder"),
    prerender: true) %>
