<h2>Using React (no Flux framework) + Rails Backend (with react_on_rails gem)</h2>
<p>This example is much simpler than the one using React + Redux and is appropriate when:</p>
<ul>
  <li>No or minimal MVC</li>
  <li>No async necessary</li>
</ul>
<hr/>

<%= react_component('SimpleCommentScreen', {}, generator_function: false, prerender: false) %>
