// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  background-image: image-url("railsonmaui.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 60px;
  padding: 0;
  font-family: 'OpenSans-Light';  // making use of custom fonts
}
