// scss-lint:disable SelectorFormat, IdSelector
body {
  background-color: #FFFFFF;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #EEEEEE;
  font-size: 11px;
  padding: 10px;
}

a {
  color: #000000;

  &:visited {
    color: #666666;
  }

  &:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}

#error_explanation {
  background-color: #F0F0F0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;

  h2 {
    background-color: #CC0000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
